body {
	font-family: "Lato", sans-serif;
}

.sidenav {
	height: 100%;
	width: 180px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	color: white;
	overflow-x: hidden;
	padding-top: 30px;
}

.top {
	margin-left: 180px;
	text-align: center;
	font-size: 50px;
}
.main {
	margin-left: 180px; /* Same as the width of the sidenav */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}

.zoom {
	padding: 50px;
	border: 1px solid black;
	background-image: url(https://cdn.shopify.com/s/files/1/0962/3744/products/WHX-paper-_0025_LineKing.pdf_2048x2048.jpg?v=1445604870);
	transition: transform .2s;
	width: 120%;
	height: 200px;
	margin: 0 auto;
}

.zoom:hover {
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1);
}

.container{
	position: absolute;
	margin-left: 15%;
}

.col-lg-3 {
	padding-top: 0.2%;
	padding-right: 0px;
	margin: 3%;
	margin-bottom: 1%;
}


#waveform {
	margin: 4%;
}

#transcription-box {
	text-align: center;
}

#uploadbanner {
	margin: 4%;
}