body {
	font-family: "Lato", sans-serif;
	color: Black
  }
.sidenav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	color: White;
	overflow-x: hidden;
	padding-top: 2px;
	padding-left: 15px;
	line-height: 2.0;
	font-size: 20px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.main {
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	font-size: 100px; /* Increased text to enable scrolling */
	padding: 0px 10px;
	padding-top: 25px;
	padding-bottom: 10px;
	padding-left: 300px;
	background-color: #FFFF;
}

.zoom {
  padding: 50px;
	border: 1px solid black;
  background-image: url(https://cdn.shopify.com/s/files/1/0962/3744/products/WHX-paper-_0025_LineKing.pdf_2048x2048.jpg?v=1445604870);
  transition: transform .2s;
  width: 350px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.container{
	position: absolute;
	margin-left: 255px;
	margin-top: 5px;
	margin-right: 0px;
}

.col-lg-3 {
	padding-top: 10px;
	padding-right: 0px;
	margin: 50px;
	margin-bottom: 10px;
}

.btn{
	font-size: 35px;
}

/* Add styles to the form container */
.container-fluid{
	position: absolute;
	right: 600px;
	margin: 20px;
	max-width: 300px;
}

	/* Full-width input fields */
	  input[type=text], input[type=password] {
	  width: 100%;
	  padding: 15px;
	  margin: 5px 0 22px 0;
	  border: none;
	  background: #f1f1f1;
	}

	input[type=text]:focus, input[type=password]:focus {
	  background-color: #ddd;
	  outline: none;
	}

	.center {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 50%;
	}
	/* Set a style for the submit button */
	.bttn {
	  background-color: #3179cb;
	  color: white;
	  padding: 16px 20px;
	  border: none;
	  cursor: pointer;
	  width: 100%;
	  opacity: 0.9;
	}

	.btnn:hover {
	  opacity: 1;
	}

	.form-group {
		z-index:1;
		font-size: 1.2em
		margin-top: -100px;
	}
