html, body{
	height: 100%
}

.sidebar{
	background-color: #eee;
	max-width:300px;
}


.card-body{
	overflow: auto;
}

.card-img-top{
	max-height:8rem;
	object-fit: cover;
}

.card-img-left{
	max-width:5rem;
	object-fit: cover;
}

.zoom {
	transition: transform .2s;
	margin: 0 auto;
}

.zoom:hover {
	-ms-transform: scale(1.05); /* IE 9 */
	-webkit-transform: scale(1.05); /* Safari 3-8 */
	transform: scale(1.05);
}
